<div class="row justify-content-md-center h-100">
    <div class="col-md-4" *ngIf="fighterOne">
        <mat-card class="h-100">
            <mat-card-title>{{fighterOne.name}}</mat-card-title>
            <img mat-card-sm-image [src]="'assets/images/' + fighterOne.icon">
            <mat-card-content>{{fightResult.comparedAttribute}}: {{fighterOne[fightResult.comparedAttribute]}}
                <mat-list class="text-break">
                    <mat-list-item *ngFor="let attribute of keysToLabelFilter(fighterOne) | keyvalue">
                        <mat-icon>navigate_next</mat-icon>
                            {{constToLabels[attribute.key]}}: {{attribute.value}}
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>       
    </div>
    <div class="col-md-3 mt-md-5 text-center text-break">
        <div class="d-flex justify-content-center">
            <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading"></mat-progress-spinner>
        </div>
        <div class="display-1 font-weight-bold font-italic text-danger" *ngIf="!loading">VS</div>
        <div class="d-flex justify-content-center my-5" *ngIf="fightResult">
            <mat-icon *ngIf="fightResult.result == fightResultsConst.drawFightResult">mood</mat-icon>
            {{fightResult.result}}
            <mat-icon color="warn" *ngIf="fightResult.result == fightResultsConst.unknownFightResult">mood_bad</mat-icon>
        </div>
        <div class="d-flex justify-content-center">
            <button color="primary" (click)="fight()" [disabled]="loading">FIGHT!</button>
        </div>
    </div>
    <div class="col-md-4"  *ngIf="fighterTwo">
        <mat-card class="h-100">
            <mat-card-title>{{fighterTwo.name}}</mat-card-title>
            <img mat-card-sm-image [src]="'assets/images/' + fighterTwo.icon">
            <mat-card-content>{{fightResult.comparedAttribute}}: {{fighterTwo[fightResult.comparedAttribute]}}
                <mat-list class="text-break">
                    <mat-list-item *ngFor="let attribute of keysToLabelFilter(fighterTwo) | keyvalue">
                        <mat-icon>navigate_next</mat-icon>
                            {{constToLabels[attribute.key]}}: {{attribute.value}}
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>  
    </div>
</div>